doctype html
html(lang='it')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.7-dist/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='/stylesheets/bootstrap-3.3.7-dist/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/lui.png")
  body
    nav.navbar.navbar-inverse
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Free Legal Aid
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Elenchi
                span.caret
              ul.dropdown-menu
                li
                  a(href='/materia') Materia
                li
                  a(href='/giudici') Giudici
                li
                  a(href='/sede') Sede
                li
                  a(href='/clienti') Clienti
                li
                  a(href='/gratuito') Pratiche
                li
                  a(href='/diniego') Non Ammessi
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Aggiungi
                span.caret
              ul.dropdown-menu
                li
                  a(href='/materia/create') Aggiungi Materia
                li
                  a(href='/giudici/create') Aggiungi Giudice
                li
                  a(href='/sede/create') Aggiungi Sede
                li
                  a(href='/clienti/create') Aggiungi Anagrafica Cliente
                li
                  a(href='/gratuito/create') Aggiungi Pratica
            li.nav-item
              a.nav-link(href='/queries')
                | Queries
          ul.nav.navbar-nav.navbar-right
            li
              a.btn.btn-warning.btn-sm(href='/clienti/create')
                span.glyphicon.glyphicon-user
                |  Nuovo Cliente
            li
              a.btn.btn-warning.btn-sm(href='/gratuito/create')
                span.glyphicon.glyphicon-file
                |  Nuova Pratica




    div(class='container-fluid')
      div(class='row')
        div(class='col-sm-12')
          block content
