extends layout

block content
  div.text-center
    h1 Ricerca Fascicoli Fatturati
    .btn-group.btn-group-lg(role='group', aria-label='Basic example')
      a.btn.btn-primary(href="/fatturate-2016" type='button') 2016
      a.btn.btn-primary(href="/fatturate-2017" type='button') 2017
      a.btn.btn-primary(href="/fatturate-2018" type='button') 2018