@import url('components/headers.css');
@import url('components/navbar.css');
@import url('components/forms.css');
@import url('components/buttons.css');
@import url('components/search.css');
@import url('components/tables.css');
@import url('components/inputs.css');
@import url('components/divider.css');
@import url('components/panels.css');

/* HTML and BODY */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  height: 100%;
  width: 100%;
}

/*GLOBAL LAYOUT */
.red {
  color: red;
  font-weight: bold;
}
