.page_title {
    text-align: center;
}

.warning {
    background: red;
    padding: 5px 15px;
    color: white;
    border-radius: 7px;
    text-align: center;
    text-transform: uppercase;
}

.pay_attention {
    background: orange;
    padding: 5px 15px;
    color: white;
    border-radius: 7px;
    text-align: center;
    text-transform: uppercase;
}

.home_page_title {
    background-color: #337ab7;
    text-align: center;
    color: white;
    margin: 200px auto;
    padding: 10px 20px;
    width: 50%;
}