input[type="date"]::before{
    color: #999;
    content: attr(placeholder) " ";
}
input[type="date"]:focus::before {
    content: "" !important;
}

/* SELECT STYLE */
select:invalid {
    color: #999;
}